[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "==2.1.0"
scipy = "==1.4.1"
numpy = "==1.18.2"
pandas = "==1.0.3"
torchaudio = "==0.5.0"
torch = "==1.5.0"
matplotlib = "==3.2.1"
torchvision = "==0.6.0"

[scripts]
start = "jupyter lab"

[requires]
python_version = "3.7"
